<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Novo Cliente</title>
</head>

<body>
    <h1>Novo Cliente</h1>

    <form th:action="@{/clientes/editar/{id}(id=${cliente.id})}" method="post" th:object="${cliente}">
        Nome: <input type="text" th:field="*{nome}" required><br>
        CPF: <input type="text" th:field="*{cpf}" maxlength="11" required><br>

        <div th:if="${cliente.dataNascimento != null}">
            <p>Data de Nascimento Atual: <span th:text="${cliente.dataNascimento}"></span></p>
        </div>
        Data de Nascimento: <input type="date" th:field="*{dataNascimento}" required><br>

        Email: <input type="email" th:field="*{email}"><br>
        Telefone: <input type="tel" th:field="*{telefone}" required><br>
        Endereço: <input type="text" th:field="*{endereco}" required><br>

        <button type="submit">Salvar</button>
    </form>

    <div th:if="${errorMessage}" style="color:red;">
        <p th:text="${errorMessage}"></p>
    </div>

    <a th:href="@{/clientes}">Voltar</a>
</body>

</html>